<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings file="App_Data\arena.config">
    <add key="SITE_NAME" value="Corporate Portal" />
    <add key="SITE_TAGLINE" value="Document Portal" />
    <add key="FOOTER_LABEL" value="Internal Document Management System v3.2.1" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="51200" executionTimeout="300" />
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
